h1,h2,h3,h4,h5,h6 {
    font-family: var(--montserrat);
}

h1 {
    font-size: clamp(60px, 7vw, 120px);
}

h2 {
    font-size: clamp(40px, 7vw, 60px);
}

h3 {
    font-size: clamp(25px, 7vw, 30px);
}

p {
    font-family: var(--roboto);
    font-size: clamp(17px, 7vw, 20px);
}